<h1>Lista de distritos</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Nivel</th>
      <th>Ubigeo</th>
      <th>Activo</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @ubigeos.each do |ubigeo| %>
      <tr>
        <td><%= ubigeo.name %></td>
        <td><%= ubigeo.level %></td>
        <td><%= ubigeo.code %></td>
        <td><%= ubigeo.status %></td>
        <td><%= link_to 'Editar', edit_ubigeo_path(ubigeo) %></td>
        
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Crear', new_ubigeo_path %>
