<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @ubigeo.name %>
</p>

<p>
  <strong>Nivel:</strong>
  <%= @ubigeo.level %>
</p>

<p>
  <strong>Ubigeo:</strong>
  <%= @ubigeo.code %>
</p>

<p>
  <strong>Activo:</strong>
  <%= @ubigeo.status %>
</p>

<%= link_to 'Editar', edit_ubigeo_path(@ubigeo) %> |
<%= link_to 'Atras', ubigeos_path %>
