<!DOCTYPE html>
<html>
<head>
  <title>FixingStreet</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div>
  <% if current_user %>
    Nombre: <strong><%= current_user.name %></strong>
    <%= link_to 'Nueva incidencia', new_incidence_path %>
    <%= link_to "Cerrar sesion", signout_path, id: "sign_out" %>
  <% else %>
    <%= link_to "Iniciar sesion con Facebook", "/auth/facebook", id: "sign_in" %>
  <% end %>
</div>

<%= yield %>

</body>
</html>
