<%= form_for(@type_incidence) do |f| %>
  <% if @type_incidence.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@type_incidence.errors.count, "error") %> prohibited this type_incidence from being saved:</h2>

      <ul>
      <% @type_incidence.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :status %><br>
    <%= f.check_box :status, checked:"checked"%>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
