<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @type_incidence.name %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @type_incidence.status %>
</p>

<%= link_to 'Editar', edit_type_incidence_path(@type_incidence) %> |
<%= link_to 'Atrás', type_incidences_path %>
