<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @motive.name %>
</p>

<p>
  <strong>Activo:</strong>
  <%= @motive.status %>
</p>

<%= link_to 'Editar', edit_motive_path(@motive) %> |
<%= link_to 'Atras', motives_path %>
