<h1>Lista de tipos</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Activo</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @types.each do |type| %>
      <tr>
        <td><%= type.name %></td>
        <td><%= type.status %></td>
        <td><%= link_to 'Editar', edit_type_path(type) %></td>
        <td><%= link_to 'Eliminar', type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Crear', new_type_path %>
