<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @type.name %>
</p>

<p>
  <strong>Activo:</strong>
  <%= @type.status %>
</p>

<%= link_to 'Editar', edit_type_path(@type) %> |
<%= link_to 'Atras', types_path %>
