<h1>Incidencias</h1>

<div><%= will_paginate @incidences %></div>
<table>
  <thead>
    <tr>
      <th>Ticket</th>
      <th>Tipo</th>
      <th>foto</th>
      <th>Motivo</th>
      <th>Descripcion</th>
      <th>Distrito</th>
      <th>Referencia</th>
      <th>Fecha y hora</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @incidences.each do |incidence| %>
      <tr>
        <td><%= incidence.id %></td>
        <td><%= incidence.type.name %></td>
        <td><%= image_tag incidence.picture,width:200 %></td>
        <td><%= incidence.motive.name %></td>
        <td><%= incidence.description %></td>
        <td><%= incidence.ubigeo.name %></td>
        <td><%= incidence.reference %></td>
        <td><%= incidence.created_at %></td>

        <td><%= link_to 'Ver', incidence %></td>
		<% if current_user %>
	       <td><%= link_to 'Editar', edit_incidence_path(incidence) %></td>
           <td><%= link_to 'Eliminar', incidence, method: :delete, data: { confirm: 'Esta seguro en eliminar la incidencia?' } %></td>
		<% end %>	
      </tr>
    <% end %>
  </tbody>
</table>


