<p id="notice"><%= notice %></p>

<p>
  <strong>Ticket:</strong>
  <%= @incidence.id %>
</p>
<p>
  <strong>Tipo Usuario:</strong>
  <%= @incidence.type.name %>
</p>
<p>
  <%= image_tag(@incidence.picture_url, width:200) %>
</p>
<p>
  <strong>Motivo:</strong>
  <%= @incidence.motive.name %>
</p>
<p>
  <strong>Descripcion:</strong>
  <%= @incidence.description %>
</p>
<p>
  <strong>Distrito:</strong>
  <%= @incidence.ubigeo.name %>
</p>
<p>
  <strong>Referencia:</strong>
  <%= @incidence.reference %>
</p>

<p>
  <strong>Fecha y hora:</strong>
  <%= @incidence.created_at %>
</p>

<p>
  <strong>Latitud:</strong>
  <%= @incidence.latitud %>
</p>

<p>
  <strong>Longitud:</strong>
  <%= @incidence.longitud %>
</p>

<%= link_to 'Editar', edit_incidence_path(@incidence) %> |
<%= link_to 'Atras', incidences_path %>
